html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    color: black;
  }
  
  #title {
    background-color: rgba(255, 99, 71, 0.6);
    width: 100%;
    height: 250px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
  }
  
  .title-1 {
    display: flex;
    font-size: 50px;
    align-items: ;
  }
  
  #image {
    min-width: 80%;
    max-width: 90%;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: solid 15px rgba(255, 99, 71, 0.6);
    border-radius: 3%;
    margin-radius: 15%;
  }
  
  #img-caption {
    text-align: center;
    margin-top: 15px;
    color: black;
  }
  
  #tribute-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255, 99, 71, 0.6);
    margin: 10px 2vw;
    color: white;
   ;
  }
  
  h3 {
    padding: 40px 0 0 0;
    text-align: center;
    font-size: 25px;
  }
  
  ul {
    line-height: 10px;
    list-style: inside;
    line-height: 20px;
    align-items: left;
    display: flex;
    justify-content: ;
    align-items: baseline;
    flex-direction: column;
  }
  
  li {
    margin: 20px;
  }
  
  @media (min-width: 300px) {
    ul {
      text-align: left;
    }
  }
  
  section {
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  li:hover {
    animation-name: black-hover;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
  }
  
  @keyframes black-hover {
    100% {
      color: black;
    }
  }